@import url('https://fonts.googleapis.com/css?family=Philosopher'); /*підключаю онлайн шрифт*/
a {font-family: Philosopher;}



.center-img {
  display: block;
  margin: 0 auto;
  
}

.center-youtube {
  display: block;
  margin: 100 auto;
  
}

body {
	font-family: Philosopher;
margin: 0;
background: url(3.jpg) ;
     background-size: 100%; 
     background-attachment: fixed;   
}

.footer{
width:100%;
height: 15%;
background-color: green;
background-image: url(footer1.jpg);
background-size: cover;
border:  solid black;
border-width: 3 0 0 0;
margin-top: 5%;
color: white;
font-size: 12;
}

span {
position: relative; 
     top: 80%; 
	 left: 90%;  
}