@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
	margin: 0px;
	color: white;
	height: 100%;
	min-width: 1175px;
}

	header {
	background: url(img/Layer_96.png) no-repeat center top / cover;
	background-size: 100% 100vh; 
	height: 100vh;
	max-height: 881px;
	overflow: hidden;

}	

.container {
	width: 1175px;
	margin: 0 auto;
}

.creatives {
	text-transform: uppercase;
	font-size: 152px;
	font-weight: bold;
	margin-top: 170px;
	text-align: center;
	font-family: Arial;
}

div {box-sizing: border-box;}

.header_block {
	margin-top: 20px;
	height: 115px;
	clear: both;
}

.logo {
	width: 78px;
	height: 75px;
	float: left;
}

.blue {
	position: relative;
	width: 66px;
	height: 66px;
	background: #11749e;
	z-index: 2;
}

.cs {
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.white {
	position: relative;
	top: -58px;
	left: 11px;
	width: 66px;
	height: 66px;
	background: #fff;
	opacity: 0.7;
}

.social_images {
	margin-top: 33px;
	float: right;
}

.social_images img{
	margin-left: 20px;
}

.social_images img:hover {
	background: #11749e;
	box-shadow:0 0 10px #11749e, 0 0 10px #11749e;
}

nav {
	float: right;
	margin-right: 53px;
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

nav li:hover {
	
	margin-right: -8px;
	margin-left: 25px;
	padding-bottom: 25px;
	border-bottom: 4px solid #11749e;
	padding-right: 8px;
	padding-left: 8px;
}
nav ul{
	margin-top: 33px;
	margin-left: 30px;
}

nav  li {
	float: left;
	margin-left: 33px;
	list-style-type: none;
}

.by {
	font-size: 24px;
	color: #11749e;
	text-align: center;
	letter-spacing: 21px;
}

.scroll_down {
	text-align: center;
	margin: 0 auto;
	margin-top: 114px;
	height: 98px;
	width: 100px;
}

.circle {
	margin: 0 auto;
	width: 62px;
	height: 62px;
	border:	1px solid white;
	border-radius: 31px;
	background-color: rgba(0, 125, 215, 0);
	margin-top: 21px;
	font-weight: 900;
	font-size: 25px;
	color: white;
}

.circle:hover {
	cursor: pointer;
}

.circle:focus {
	outline: none;
}

.siniy {
	background: #11749e;
	height: 736px;
}

.w {
	font-size: 247px;
	color: #5993b2;
	text-align: center;
	font-family: Arial;
}

.agency {
	font-size: 37px;
	text-align: center;
	font-family: Arial;
	font-weight: 100;
	margin-top: -140px;

}

.block {
	width: 233px;
	height: 261px;

}

.circle1 {
	height: 130px;
	width: 130px;
	border-radius: 75px;
	background: #2e85aa;
	margin: 0 auto;
}

.group {
	margin-top: 144px;
}

.block {
	float: left;
	margin-right: 60px;
}

.block img {
	text-align: center;
	position: relative;
	top: -85px;
	left: 99px;
}

.text {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: -25px;
	margin-bottom: 33px;
	clear: 	both;	
}

.first_img, .second_img, .three_img, .four_img  {
	width: 50%;
	height: 444px;
	float: left;
}

.four_img {
	background: #f3f3f3;
}

.first_img {
	background: #222222;
}

.test {
	clear: both;
	position: absolute;
	margin-top: 50px;
}

.fours_img{
	height: 888px;
}

.second_img {
	background: url(img/Layer_88.png) no-repeat center top / cover;
}

.three_img {
	background: url(img/Layer_90.png) no-repeat center top / cover;
}

.pre {
	width: 400px;
}

p {
	margin: 0;
}

.test_1 {
	margin-top: 28px;
	margin-bottom: 45px;
	font-size: 25px;
	font-weight: bold;
}

.pre p {
	margin-bottom: 37px;
	font-size: 15px;
}

.test_praviy {
	position: absolute;
	margin-left: 700px;
	margin-top: 150px;
	color: black;
}

.b {
	font-size: 247px;
	color: #d7d7d7;
	text-align: center;
	font-family: Arial;
	font-weight: 700;
	height: 247px;
	margin-top: 40px;
}

.lets {
	font-size: 37px;
	text-align: center;
	font-family: Arial;
	text-transform: uppercase;
	margin-top: -130px;
	color: #222222;
	height:37px;
}

.love {
	font-size: 30px;
	color: black;
	text-align: center;
	margin-top: 130px;
	margin-bottom: 80px;
}

.blog_block {
	width: 266px;
	margin-bottom: 112px;
	float: left;
	margin-right: 27px;
}

.summer {
	font-size: 18px;
	color: #11749e;
	text-transform: uppercase;
	margin-top: 42px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 27px;
}

.main {
	color: black;
	font-size: 17px;
	text-align: center;
	clear: both;
}

.quick {
	display: flex;
	height: 351px;
	background: #11749e;
	width: 100%;


}

.quick1 {
	margin-top: 111px;
	float: left;
	width: 553px;
	font-size: 15px;
	margin-right: 60px;

}



.quick img {
	float: left;
	margin-right: 34px;
	height: 64px;
}

.fix {
	margin-right: 0px;
}

.akita {
	height: 842px;
	background: url(img/Layer_87.png) no-repeat center top / cover;
}

.akita_text {
	font-size: 25px;
	text-transform: uppercase;
	padding-top: 226px;
	margin-bottom: 40px;
}

.akita_text2 {
	width: 451px;
	margin-bottom: 70px;
}

.button1 {
	display: block;
	height: 36px;
	width: 369px;
	background: #11749e;
	border: none;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	padding-right: 80px;
	font-weight: 500;
	margin-bottom: 23px;
}

.button2 {
	display: block;
	height: 36px;
	width: 398px;
	background: #11749e;
	border: none;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	padding-right: 165px;
	font-weight: 500;
	margin-bottom: 23px;
}

.button3 {
	display: block;
	height: 36px;
	width: 426px;
	background: #11749e;
	border: none;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	padding-right: 112px;
	font-weight: 500;
	margin-bottom: 23px;
}

.akita button:hover {
	position: relative;
	background: red;
	left: 5px;
	cursor: pointer;
}

.our_team {
	height: 940px;
}

.t{
	text-align: center;
	font-size: 247px;
	color: #d7d7d7;
	font-weight: bold;
}

.our_text{
	color: #222222;
	font-size: 37px;
	text-align: center;
	margin-top: -150px;
	font-weight: bold;
}

.bred {
	text-align: center;
	font-size: 30px;
	color: #222222;
	margin-top: 100px;
	margin-bottom: 68px;
}

.morda {
	width: 269px;
	float: left;
	margin-right: 30px;
}

.white_block {
	position: relative;
	z-index: 2;
	width: 214px;
	height: 80px;
	margin-left: 24px;
	margin-top: -47px;
	background: #fff;


}

.text_inside {
	color: #11749e;
	font-size:20px;
	text-align: center;
	padding-top: 22px;
}

.text_inside1 {
	text-align: center;
	padding-top: 12px;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.mordyaki {
	margin-bottom: 40px;
}

.forma	{
	background: url(img/Layer_97.png) no-repeat center top / cover;
	height: 847px;
}

.c {
	padding-top: 80px;
	text-align: center;
	opacity: 0.2;
	font-size: 247px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
}

.love2{
	text-align: center;
	font-size: 37px;
	margin-top: -170px;
}

.input1 {
	margin-top: 200px;
	width: 350px;
	height: 45px;
	border:1px solid white;
	background: none;
	color: white;
	padding-left: 19px;
	font-size: 20px;
	float: left;
	margin-right: 28px;
}


.textarea {
	width: 1136px;
	height: 148px;
	background: none;
	border:1px solid white;
	color: white;
	clear: both;
	margin-top: 38px;
	padding-left: 19px;
	padding-right: 19px;
	font-size: 20px;	
}

.submit {	
	width: 227px;
	height: 63px;
	font-size: 24px;
	font-weight: bold;
	background: #11749e;
	border:none;
	margin-top: 30px;
	margin-left: 500px;
	color: white;
}

.submit:hover {
	cursor: pointer;
	opacity: 0.8;
}
#map {
	width: 100%;
	height: 330px;
}

footer {
	background: #222222;
}
.GOOGLEMAPWIN {
	height: 110px;
	background: #222222;
}

.end {
	padding-top: 52px;
}

.gotovo {
	display: inline;
	float: left;
	font-size: 13px;

}

.end img{
	margin-top: -30px;
	margin-left: 550px;

}