.header{
	border-bottom: solid 5px  white; background-color:#00FF00;}
	

.footer {
	border-top: solid 5px  white;	}

.navl{border-right: solid 5px  white;}
.navr{border-left: solid 5px  white;}
a{vertical-align:bottom;
text-align:right;
 }
 
 #first{
	position: absolute;
	margin-top: 200px;
	margin-left:180px;
	z-index:2;
	
 }
 
 #second {
	 position: absolute;
	 margin-left:250px;
	 z-index:1;
	 margin-top:100px;
 }
 
 
 #three{position:relative;
 z-index:0;
  margin-left:50px;}
  
  #chot{z-index:2;
  position:absolute;
  margin-left:70px;}
  
  #anim{position:absolute;
  z-index:3;
  margin-left:-450px;
  margin-top:150px;
  
  }

 

