.header {
	
	width: 100%;
	height: 150px;
	font-size: 92px;
	padding-top:10px;

	

}
body {
	margin: 0;
	padding: 0px;
	font-weight: bold;
	border:  solid white;
	border-width: 5px 5px 0px 5px;
	
	background-color: #565656;
	color: #656565;
}
.title {
	height: 20px;
	text-align: right;
	border:  solid;
	border-width: 2px 0px 2px 0px;
	padding-top: 7px;
	border-color: white;
	font-size: 22px;
}
.menu {
	width:200px;
	height: 330px;
	border:  solid;
	border-width: 0px 5px 0px 0px;
	font-size: 72px;
	border-color: white;
	writing-mode: tb-rl;


}


.footer {
	text-align: center;
	font-size: 72px;
	margin-bottom: 0px;
	border:  solid;
	border-width: 5px 0px 0px 0px;
	height: 130px;
	opacity: 0.7;
	border-color: white;
}	