.header {
	
	width: 100%;
	height: 150px;
	font-size: 142px;
	padding-bottom: 3px;
	

}
body {
	margin: 0;
	padding: 0px;
	font-weight: bold;
	border:  solid white;
	border-width: 5px 5px 0px 5px;
	
	background-color: #565656;
	color: #656565;
}
.title {
	height: 25px;
	text-align: right;
	border:  solid;
	border-width: 2px 0px 2px 0px;
	padding-top: 5px;
	border-color: white;
	font-size: 22px;

}
.menu {
	width:200px;
	height: 530px;
	border:  solid;
	border-width: 0px 5px 0px 0px;
	font-size: 120px;
	border-color: white;
	
	float: left;


}


.footer {
	clear: both;
	text-align: center;
	font-size: 142px;
	margin-bottom: 0px;
	border:  solid;
	border-width: 5px 0px 0px 0px;
	height: 170px;
	opacity: 0.7;
	border-color: white;
}	
span {
	font-size:142px;
  transform: rotate(-37deg);
  display: inline-block;
  margin-left: 50px;
  transform-origin: 0% 50%;
  position: relative;
    bottom: -400px;
}

.text {
	writing-mode: tb-rl;
	transform: rotate(180deg);
	position: relative;
	top:140px;
	left: 80px;
}