@font-face {
    font-family: my; /* Имя шрифта */
    src: url(AGAalenBold Roma.ttf); /* Путь к файлу со шрифтом */
   }

body {
	margin: 0;
	padding: 0;
	background: url(../img/bg_shades1.png) no-repeat center top / cover;
	height: 1800px;
}

div {box-sizing: border-box;}

.container {
	width: 1024px; 
	margin: 0 auto; /*зробити текст по центру*/
}



.logo {
	position: relative;
	z-index: 2;
	margin-left: 25px;
}
#topmenu_bg {
	position: absolute;
	z-index: 1;
}
#safari_tour {
	display:inline-block;
    position:absolute;
    top:20px;   
    left:220px;
    z-index: 3;
    font-size: 33px;
    color: #299fca;
    font-weight: 1000;
    font-family:my;
    transform: rotate(-6deg);
}

#tt{
	display:inline-block;
    position:absolute;
    top:65px;   
    left:233px;
    z-index: 3;
    font-size: 15px;
    color: #299fca;
    
    font-family: Arial, MyWebFont;
    transform: rotate(-6deg);
}

.hr li {
	display: inline; /* Отображать как строчный элемент */
	margin-right: 63px;
	font-size: 17px;
	
}

.hr {
	margin: 0px;
	position:absolute;
	top: 23px;
	left: 450px;
	z-index: 3;
   }

.hr a {
	text-decoration: none;
	color: #fff;
}


#cloud_2{
	position: absolute;
	top: 320px;
	z-index: 1;
}

#cloud_1{
	position: absolute;
	top: 386px;
	z-index: 3;

}

#aeroplane {
	position: absolute;
	top: 130px;
	left: 170px;
	z-index: 2;
}

.aero_text {
	color: #ded90e;
	font-size: 25px;
	font-weight: 1000;
	z-index: 4;
	position: absolute;
	top: 280px;
	left: 480px;


}

#super_saver {
	position: relative;
	left: -30px;
}

.pryamokut {
	position: absolute;
	width: 322px;
	height: 550px;
	background-color: #299fca;
	border-radius: 21px;
	z-index: 2;
	border: 6px solid #7ebee0;
	left: 850px;
	top: 86px;
}
#online_booking {
	position: relative;
	top: 28px;
	left: -20px;
}

.vvod {
	margin-top: 50px;
	position: relative;
	float: right;
}

.my_fix input {
	padding: 4px 0px 4px 0px;
	border: 3px solid #a7d1e6;	
	border-radius: 6px;
	margin-bottom: 11px;
	color: #299fca;
	font-size: 15px;
	float: right;
	margin-right: 33px;
}

#package {
	border: 3px solid #a7d1e6;	
	padding: 4px 0px 4px 0px;
	border-radius: 6px;
	color: #299fca;
	font-size: 15px;
	width: 158px;
	float: right;
	margin-right: 33px;
	margin-bottom: 11px;
}
#text_input {
	margin-right: 10px;
	float: right;
	margin-top: 7px;
	font-size: 15px;
	color: #fff;
	font-size: 17px;
}
.textarea {
	padding: 4px 0px 4px 0px;
	border: 3px solid #a7d1e6;	
	border-radius: 6px;
	margin-bottom: 11px;
	color: #299fca;
	font-size: 15px;
	float: right;
	margin-right: 33px;
	resize: none;
	
}
#submit {
	position: absolute;
	top: 295px;
	right: 0px;
	padding: 10px 28px 9px 21px;
	font-size: 17px;
	font-weight: bold;
	color: #64affc;
	background: linear-gradient(to top, #e5dc10, #fff203);
	border: none;	
}	

#online_booking_text {
	position: absolute;
	top: 40px;
	left: 10px;
	font-size: 21px;
	color: #fff;
}

#ladder{
	position: relative;
	top: 154px;
	left:45px;
}
.strelki {
	position: relative;
	top: 210px;
	z-index: 2;
}	

.strelki a{
text-decoration: none;
	}
#submit:hover {
	position: relative;
	left: -22px;
	top: 207px;
	background: #daf20f;
}

#submit:active {
	position: relative;
	left: -20px;
	top: 209px;
	background: #daf20f;
}

#submit {
	position: relative;
	z-index: 10;
	left: -22px;
	top: 207px;
}
#knopka_vpravo {
	position: relative;
	top: 20px;
	left: 10px;
}

.v_hmari {
	margin-top: 550px;
	position: absolute;
	top: 0px;
	width: 960px;
	height: 325px;
	z-index: 4;

}

.Our_special_offers {
	float: left;
	margin-left: 30px;
	color: white;
	width: 327px;
}


.Our_special_offers h2 {
	margin: 0;
	font-size: 29px;
	color: #fff;
	font-family: Arial;
	font-weight: 250;
	margin-bottom: 22px;
}
.Our_special_offers img {
	float: left;
	margin-right: 12px;
}

.Our_special_offers p {	
	margin:0px 0px 5px 0px;
	font-size: 17px;}

.text1 {
	font-size: 15px;
	font-weight: 100;

}	
.text2 {
	position: relative;
	left: 45px;
	top: 10px;
	font-size: 27px;
	float: left;
}

.Our_special_offers input {
	width: 100px;
	height: 26px;
	background: linear-gradient(to top, #e6dc10, #fff203); 
	border:none;
	color: #6eb3ec;
	padding: 4px 0px 7px 0px; 
	text-align: center;
	font-weight: bold;
	margin:0px;
	margin-top: 10px;


}
hr {
	clear: left;
	width: 327px;
	color: white;
	border-style: dotted;
}

#praviy_block {
	margin-left: 407px;
	position: relative;
	left: 30px;
	width: 555px;
	top: 42px;
}

#tours {
	width: 115px;
	height: 28px;
	border-radius: 3px 3px 0px 0px;
	color: #127ea5;
	background: #81ffff;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	float: left;
	
	text-transform: uppercase;
}

	.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#fotos {
	width: 115px;
	height: 28px;
	border-radius: 3px 3px 0px 0px;
	color: #75f2f8;
	background: #299fca;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	float: left;
	margin-left: 6px;
	text-transform: uppercase;
}

   #circle {
	width: 140px;
	height: 140px;
	background: red;
	border-radius: 70px;
	position: relative;
	left: 370px;
	top: -60px;
	text-align: center;
	background: #f2e60a;
	font-weight: 1000;
	color: #64affc; 
	font-size: 23px;
	padding-top: 5px; 
	font-family: MyWebFont, Arial;
	line-height: 25px;

}
#offers {
	height: 64px;
	width: 64px;
	background: #34abd6;
	font-size: 16px;
	color: #fff;
	border-radius: 32px;
	position: relative;
	left: 490px;
	top: -160px;
	text-align: center;
	padding-top: 20px; 
	border: 3px solid white;
}
.fon {
	height: 60px;
	width: 250px;
	background: #127ea5;
	position: relative;
	left: 330px;
	top: -175px;
}

.line {
	width: 551px;
	height: 1px;
	background: #81ffff;
	position: relative;
	top: -236px;
	left: 0px;
}

.verh {
	height: 30px;
}

.spisok {
	position: relative;
	height: 200px;
	width: 600px;
	z-index: 3;
	margin-left: 6px;
	margin-top: 22px;
	color: white;
}

.ryadok {
	margin-bottom: 15px;
	height: 8px;
	
}
.ryadok img{
	float: left;
	margin-right: 8px;
	clear: right;
	margin-top: 3px;
}

.ryadok p {
	margin: 0px;
	float: left;
}

.more_details {
	float: right;
}
.span {
	float: right;
	margin-right: 63px;
}

.map {
	position: relative;
	margin-top: 728px;
	height: 630px;	
	background: #d6e6ef;
	z-index: 7;


}

.find_tourist {
	position: relative;
	text-align: center;
	font-size: 27px;
	color: #4690b4;
	margin: 22px 0px 9px 0;
	padding-top: 22px;
}

.click_on_map {
	position: relative;
	text-align: center;
	margin: 0px 0px 16px 0px;
	font-size: 27px;
	color: #6ab5d0;
}

.map img {
	width: 100%;
	height: 466px;
}

footer {
	background: linear-gradient(to top, #137fa7, #1a8fb9) no-repeat bottom / cover; 
	height: 318px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0px;
}

.news_latter {
	position: relative;
	top: 24px;
	width: 296px;
	height: 265px;
	margin-bottom: 26px;
	float: left;
	margin-right: 61px;


}

.news {
	font-size: 25px;
}

.form {
	position: absolute;
	top: 41px;
	width: 296px;
}

.enter_email {
	position: absolute;
	top: 3px;
	left: 3px;
	color: white;
	width: 188px;
	height: 26px;
	border: none;
	background: none;
	font-size: 14px;
	float: left;
}

form input:focus {
	    outline: -webkit-focus-ring-color auto 0px;
	
}

.form img {
	float: left;
}

.subscribe {
	margin-left: 10px;
	color: #1380a7;
	background: white;
	width: 88px;
	height: 32px;
	border: none;
	border-radius: 4px;
}

.social_media {
	margin-top: 100px;
	font-size: 25px;
}

.social_img {
	margin-top: 18px;
	float:left;
	margin-right: 9px;
}

.social_img:hover {
opacity: 0.5;

}	

.contact_us {
	display: inline-block;
	height: 220px;
	width: 230px;
	margin-top: 24px;
	float: left;
}

.contact_us h4 {
	margin: 0px;
	font-size: 25px;
}

.contact_us p {
	margin-bottom: 15px;
}

.p_info {
	margin-left: 35px;
}

.contact_form {
	display: inline-block;
	height: 270px;
	width: 295px;
	margin-left: 33px;
	margin-top: 18px;
}

.contact_form h4 {
	margin: 0px;
	font-size: 25px;
	margin-bottom: 16px;
}

.contact_form form {
	height: 235px;
}

.contact_form div {
	position: relative;
	margin-left: 5px;
	margin-bottom: 9px;
}

.k_form {
	position: absolute;
	width: 193px;
	height: 31px;
	
}
.k_input {
	position: absolute;
	left: 3px;
	width: 186px;
	height: 25px;
	background: none;
	border: none;
	color: white;
}

.textarea_d {
	position: absolute;
	left: 0px;
	width: 282px;
	height: 48px;
	color: #fff;
	resize: none;
	background: none;
	border:none;
}

.message {
	position: relative;
}	

.textarea_d:focus {
	    outline: -webkit-focus-ring-color auto 0px;
}

.submit_end {
	width: 90px;
	height: 32px;
	margin-left: 202px;
	border-radius: 5px;
	color: #1380a7;
	margin-top: -5px;
}	    

.postscriptom {
	text-align: center;
	margin:0px;
		margin-top: 9px;
}