body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}




header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 1px;
}
.container {
	width: 930px; 
	margin: 0 auto; /*зробити текст по центру*/
}

	
}

div {
	box-sizing: border-box;
}

.logo {
	margin-top:41px; 
	float: left;

}
nav {
	float: right;
	margin-top:45px; 
}

.menu {
	padding: 0;
	margin: 0;	
	display: block;
}

.menu li {
float: left;
display: block;
margin-right: 41px;
font-size: 14px;
}

.menu li a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
.menu ul {
	margin-top: 46px;
	}
.titles_first 
{
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}	
h1 {
	color: #fff;
	font-size: 75px;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}
.button {
	background: #fed136; 
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold; 
	font-size: 18px;
	margin-top: 50px;
	margin-bottom: 160px;
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin:0px;
}
.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.title {
	padding-top:115px; 
}
.services {
	margin-top: 80px;
}
.services_item{
	width: 270px;
	float: left;
	text-align: center;
}
.services_item h3 {
font-size: 18px;
font-weight: bold;
margin-bottom: 5px;
}
.services_item p{
font-size: 14px;
color: #777777;
line-height: 1.55em;
}
.services_item:last-child{
	float: right;
}
.services_item:nth-child(2) {
	margin-left: 60px;
}
#services{
	padding-bottom: 120px;
}
#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}
.works img {
float: left;
}
.works img:last-child {
	float: right;
}
.works img:nth-child(2) {
	margin-left: 29px;
}
.works {
	margin-top: 70px;
}
.about_us {
	margin-top: 119px;
}

	


.kartinki_block {
	margin-top: 80px;
}

first img{

	margin-left: 0px auto;

}


.center-img {
 margin-bottom: 90px;
  
 


 } 
 .first p {
 	width: 250px;
 	margin-top: px;
 	float: left;
 	font-size: 14px;
 	font-family: Arial;
 	text-align: right;
 	margin-right: 40px;
 	margin-left: 70px;
 	line-height: 1.55em;
 }
.first p span {
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;

}
 .second p {
 	width: 250px;
 	margin-top: 0px;
 	float: right;
 	font-size: 14px;
 	font-family: Arial;
 	text-align: left;
    line-height: 1.55em;
 	margin-left: 7px;
 	margin-right: 90px;
 }
.second p span {
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;

}
.second img {margin-left: 360px;}



.three p {
 	width: 250px;
 	margin-top: 40px;
 	float: left;
 	font-size: 14px;
 	font-family: Arial;
 	text-align: right;
 	margin-right: 40px;
 	margin-left: 70px;
    line-height: 1.55em;
 }
.three p span {
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
.three {
	margin-top: 40px;
}
.four p {
 	width: 250px;
 	margin-top: 0px;
 	float: right;
 	font-size: 13px;
 	font-family: Arial;
 	text-align: left;
 	margin-left: 7px;
 	margin-right: 90px;
 	line-height: 1.55em;
 }
.four p span {
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;

}
.four img {margin-left: 360px;}
.four {
	margin-top: 65px;
	margin-bottom: 116px;
}
footer {
	text-align: center;
	margin-bottom: 115px;
}	